
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$color-principal: #5265E1;
$color-secundari: #FA5959;


$nav-link-color: black;


$custom-colors: (
  "color-secundari": $color-secundari,
  "color-principal": $color-principal,
  
);



// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";



.active {
  color:grey;
}

.btn-color-secundari {
  color: white;
  width: 7rem;
}

.rectangulo-redondeado{
  width: 200px; 
  height: 100px; 
  background-color: $color-principal; 
  border-radius: 20px; 
}

.navbar-toggler {
  border: none;
 
}

.navbar-toggler.collapsed{
  border: none;
}


.figura {
  position: absolute;
  z-index: -10;
  width: 35vw; 
  height: 20vw; 
  top: 30%;
  left: 2%;
  background-color: $color-principal; 
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;

}

.tab-figura{
  position: absolute;
  z-index: -10;
  width: 35vw; 
  height: 20vw; 
  top: 30%;
  right: 50%;
  background-color: $color-principal; 
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

h3{
  color: black;
}
p{
  color: gray;
}

.card:hover{
  transform: scale(1.15);
}

.card-img-top{
  width: 50%;
  align-self: center;
}

.separador {
  align-self: center;
  width: 120%;
  height: 25px; 
  border-top: dotted rgb(197, 197, 197); 
  border-spacing: 20px;
  border-width: 4px ;
  
}

.card-text{
  font-size: 13px;
}
.nav-underline .nav-link.active, .nav-underline .show > .nav-link{
  border-bottom-color: $color-secundari;
}