
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$color-principal: #5265E1;
$color-secundari: #FA5959;


$nav-link-color: black;


$custom-colors: (
  "color-secundari": $color-secundari,
  "color-principal": $color-principal,
);



// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


/*  GENERAL */
h3{
  color: black;
}
p{
  color: gray;
}

.active {
  color:grey;
}

.btn-color-secundari {
  color: white;
  width: 7rem;
}

/*
.rectangulo-redondeado{
  width: 200px; 
  height: 100px; 
  background-color: $color-principal; 
  border-radius: 20px; 
}*/


/* FIGURA AZUL PRIMERA PANTALLA */
.figura {
  position: absolute;
  z-index: -10;
  width: 35vw; 
  height: 20vw; 
  top: 30%;
  left: 2%;
  background-color: $color-principal; 
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;

}

/* TAB */
.tab-figura{
  position: absolute;
  z-index: -10;
  width: 35vw; 
  height: 20vw; 
  top: 30%;
  right: 50%;
  background-color: $color-principal; 
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link{
  border-bottom-color: $color-secundari;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler.collapsed{
  border: none;
}



/* CARD */
.card:hover{
  transform: scale(1.15);
}

.card-img-top{
  width: 50%;
  align-self: center;
}

.separador {
  align-self: center;
  width: 120%;
  height: 25px; 
  border-top: dotted rgb(197, 197, 197); 
  border-spacing: 20px;
  border-width: 4px ;
  
}

.card-text{
  font-size: 13px;
}


/*  ACORDEON  */

.boton-acordeon{
  width: 8rem;
  }

.accordion-item{
  border: none;
}
.accordion-button {
  border-bottom: 1px solid rgb(211, 210, 210);
}
.accordion-button:not(.collapsed){
  background-color: white;
  box-shadow: none;
}
.accordion-button:focus{
  box-shadow: none;
}

/*  FOOTER */
footer{
  background-color: $color-principal;
}

.text-footer{
  color: white !important;
  letter-spacing: 4px;
}

.title-footer{
  color: white !important;
}

.input-group{
  width: 30rem;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nav-footer{
  background-color: rgb(49, 49, 109);
}

.text-nav{
  color: white;
  font-size: 14px;
}

.iconos{
  margin-left: 60rem;
}

.navbar-footer{
  padding: 0 ;
  
}

.form-control{
  width: 16rem;
}